<div id="app">
  <login-form></login-form>
</div>

<%= javascript_pack_tag 'application' %>

<script>
  import { createApp } from 'vue';
  import LoginForm from 'components/LoginForm.vue';

  const app = createApp({
    components: {
      LoginForm
    }
  });

  app.mount('#app');
</script>

